.sidebar_main{
    height: 100px;
    width: 100%;
    display:flex;
    justify-content: space-between;
   padding-top: 15px;
   color: white;
  
}
.sidebar_main>div:nth-child(1){
    margin-left: 10px;
    width: auto;
font-size: 18px;
font-weight: 800;
}
.sidebar_main>div:nth-child(2){
    width: auto;
    font-size: 18px;
    font-weight: 400;
    margin-right: 10px;
    }