.home_main{
   height: auto;
   min-height: 2000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    background-color: rgb(56, 56, 249);
}
.sidebar{
    height: auto;
    width: 100%;
}
.quote_box{
width: 100%;
color: white;
margin-bottom: 60px;
border: none;
}
.dropdown{
width: 100%;
margin-bottom: 60px;
}
.dropdown select{
    height: 20px;
    width: 150px;
    border-radius: 10px;
}
.next{
    width: 100%;
}
.next button{
height: 26px;
width: 150px;
border-radius: 10px;
color: white;
background-color: rgb(51, 252, 51);
border: none;
margin-bottom: 300px;
}
.quote{
    width: 100%;
    font-size: 25px;
    display: flex;
    justify-content: center;
    border: none;
}
.quote div{
    padding-top: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: coral;
    padding-bottom: 100px;
    width: 60%;
    border: none;
}
.author{
    border: none;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
}
.author>div{
    width: 60%;
    font-size: 17px;
    color: aliceblue;
    background-color: coral;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}
.author img{
    height: 20px;
    width: 20px;
    margin-top: 4px;
   margin-left: 20px;
}